*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 0;
  font-family: 'Gaegu', cursive;
}

/*Header--------------------------------------------------*/

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}

.col {
  flex: 1;
  overflow: hidden;
}

.overlay {
  background-color: grey;
  opacity: .80;
  width: 100vw;
}

.header-video {
  height: 100vh;
}

.header-video-fullwidth {
  width: 100vw;
}

.title {
  position: absolute;
  color: white;
  font-size: 10vw;
  width: 100vw;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 40vh;
}

/* .arrow {
  position: absolute;
  color: white;
  font-size: 10vw;
  width: 100vw;
  text-align: center;
  padding-top: 85vh;
  padding-bottom: 5vh;
} */

/* @media (max-width: 1000px){
  .row-header {
    height: 60vh;
    width: 100%;
  }
}
/*------------------------*/

/* Description------------------------------------------- */
.description-col {
  background-color: #5B8CC8;
}

.description {
  background-color: white;
  border: solid black;
  margin: 5vh 5vw;
  padding: 5vw;
  font-family: 'Gaegu', cursive;
}

/*------------------------*/


/* Masonry ------*/

.masonry {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
}

.masonry-content {
  flex: auto;
  min-width: 12vw;
  height: 25vh;
}


.masonry-content:nth-child(4n+1){
  width: 20%;
}
.masonry-content:nth-child(4n+2){
  width: 30%;
}
.masonry-content:nth-child(4n+3){
  width: 25%;
}
.masonry-content:nth-child(4n+4){
  width: 35%;
}


